# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/
ENV/

# Flask
instance/
*.sqlite

# Environment variables
.env
.env.*
*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.sw?
